
:root {
    background: #6557CF !important;
    --ion-background-color: #6557CF !important;
}

#background-content {
    background: #6557CF !important;
}

.bg-primary-color {
    background: #6557CF !important;
}