<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <br>
  <ion-grid style="padding-left: 16px !important; padding-right: 16px !important;">
    <ion-row>
      <ion-col>
        <div style="padding-left: 5px; font-weight: bold !important;"> 
          <p>Welcome back,</p> 
          <span style="font-weight: 100 !important; font-size: 12px !important;">
            Log in to your account to start making all your transactions.
          </span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Phone number</ion-label>
          <ion-input type="tel" placeholder="Phone Number" maxlength="15" autocomplete="off" name="phone" [(ngModel)]="postData.phone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input placeholder="Pin Code" maxlength="4" autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin-top: 10px; font-size: 12px !important;">
        <ion-checkbox color="dark"  checked="true"></ion-checkbox> Remember me
      </ion-col>
      <ion-col>
        <!-- <ion-router-link href="/forgotpin" class="underline md ion-activatable hydrated" color="tertiary">Underline</ion-router-link> -->
        <ion-button style="text-transform: capitalize !important; font-size: 12px;" color="tertiary" fill="clear" routerLink="/forgotpin">
          <span style="font-weight: bold; color: #6557CF">Forgot Password?</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer style="padding: 16px;">
  <ion-row>
    <ion-col>
      <ion-button color="tertiary" expand="full" style="text-transform: capitalize !important;" (click)="loginAccount()">Log In</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button style="text-transform: capitalize !important; font-size: 12px;" color="tertiary" shape="round" fill="clear" expand="full" routerLink="/register">
        <span style="color: #808080;">Don't have an account? </span> &nbsp;
        <span style="font-weight: bold; color: #6557CF">Create account</span>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>