<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item lines="none" style="margin: 10px !important; margin-bottom: 0 !important; background: #fff !important;">
    <!-- <ion-avatar slot="start" class="md hydrated">
      <img src="/assets/avatar.svg">
    </ion-avatar> -->
    <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" style="color: #1A1A1A !important">
      <!-- <h2 style="margin-top: 20px; color: #1A1A1A !important; font-weight: bold;">Hello {{ userData?.firstName + " "+userData?.lastName }} </h2> -->
      <h2 style="margin-top: 20px; color: #1A1A1A !important; font-weight: bold;">{{greetingMessage +" "+ userData?.firstName }} </h2>
    </ion-label>
    <ion-avatar (click)="start()" slot="end" class="ios hydrated" style="cursor: pointer !important; margin-right: 10px;">
      <ion-icon name="mic-circle-outline" style="height: 50px; font-size: 70px; color: #6557CF;"></ion-icon>
    </ion-avatar>
  </ion-item>

  <ion-grid style="padding: 1px 10px 0px 20px;">
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-row>
      <ion-col style="color: #1A1A1A !important">
        <!-- <h3 style="color: #1A1A1A !important"><strong>₦{{ walletBalance | number }}</strong></h3> -->
        <p style="font-size: 12px; margin-top: 5px !important; margin-bottom: 1px !important; color: #1A1A1A !important">Your current balance is</p>
        <h1 style="margin-top: 2px !important; color: #1A1A1A !important"><strong>₦ 5,000,000</strong></h1>
      </ion-col>
      <!-- <ion-col style="text-align: right;">
        <img src="/assets/homeicon.png" width="133" height="111" alt="img" />    
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item-sliding *ngFor="let item of text_sentences">
      <ion-item>
        <ion-label text-wrap>{{item}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="textToSpeech(item)">Speak</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-grid style="padding-left: 15px">
    <ion-row>
      <ion-col>
        <ion-button color="tertiary" style="font-size: 14px !important; text-transform:none !important;">Request money</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline" color="tertiary" style="font-size: 14px !important; text-transform: none !important;">Send money</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="background: #6557CF; height: 80% !important; padding: 2px;  border-radius: 30px 30px 0px 0px;">
    <ion-grid style="padding-top: 0 !important;">

      <ion-row style="padding: 10px; padding-bottom: 0 !important; font-size: 12px !important; color: #ffffff !important">
        <ion-col style="font-weight: bold;">
          Recent Transactions
        </ion-col>
        <ion-col style="text-align: right;" routerLink="/tranxhistory">
          <span>See all</span>
        </ion-col>
      </ion-row>

      <ion-item lines="none" 
      style="background: #fff; font-size: 12px; margin: 2px !important; margin-top: 0 !important; border-radius: 10px !important;">
        <ion-avatar slot="start" class="md hydrated">
          <img src="/assets/img1.png">
        </ion-avatar>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" style="font-size: 12px;">
          <ion-text color="tertiary">
            <!-- <span>Adeboye Usman</span> -->
            <h3 style="font-size: 12px !important; padding-left: 10px;">Adeboye Usman</h3>
          </ion-text>
          <p>
            <ion-chip color="success" style="font-size: 12px;">
              <ion-icon name="heart-outline" color="success"></ion-icon>
              <ion-label>Received</ion-label>
            </ion-chip>
          </p>
        </ion-label>
        <ion-label slot="end" class="ios hydrated" style="text-align: right;">
          <ion-text color="success"><h3 style="font-size: 16px;">₦200,000</h3></ion-text>
          <p style="font-size: 12px;">24 Apr 9:00AM</p>
        </ion-label>
      </ion-item>


      <ion-item lines="none" 
      style="background: #fff; font-size: 12px; margin: 2px !important; margin-top: 0 !important; border-radius: 10px !important;">
        <ion-avatar slot="start" class="md hydrated">
          <img src="/assets/img2.png">
        </ion-avatar>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" style="font-size: 12px;">
          <span>Mercy Popoola</span>
          <p>
            <ion-chip color="danger" style="font-size: 12px;">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <ion-label>Failed</ion-label>
            </ion-chip>
          </p>
        </ion-label>
        <ion-label slot="end" class="ios hydrated" style="text-align: right;">
          <h3 style="font-size: 16px;">₦110,000</h3>
          <p style="font-size: 12px;">23 Apr 8:00AM</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" 
      style="background: #fff; font-size: 12px; margin: 2px !important; margin-top: 0 !important; border-radius: 10px !important;">
        <ion-avatar slot="start" class="md hydrated">
          <img src="/assets/img3.png">
        </ion-avatar>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" style="font-size: 12px;">
          <span>Onome Adetayo</span>
          <p>
            <ion-chip color="warning" style="font-size: 12px;">
              <ion-icon name="send-outline"></ion-icon>
              <ion-label>Sent</ion-label>
            </ion-chip>
          </p>
        </ion-label>
        <ion-label slot="end" class="ios hydrated" style="text-align: right;">
          <h3 style="font-size: 16px;">₦10,000</h3>
          <p style="font-size: 12px;">24 Apr 8:00AM</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" 
      style="background: #fff; font-size: 12px; margin: 2px !important; margin-top: 0 !important; border-radius: 10px !important;">
        <ion-avatar slot="start" class="md hydrated">
          <img src="/assets/img4.png">
        </ion-avatar>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated" style="font-size: 12px;">
          <span>Kingsley Abiodun</span>
          <p>
            <ion-chip color="success" style="font-size: 12px;">
              <ion-icon name="heart-outline"></ion-icon>
              <ion-label>Received</ion-label>
            </ion-chip>
          </p>
        </ion-label>
        <ion-label slot="end" class="ios hydrated" style="text-align: right;">
          <h3 style="font-size: 16px;">₦200,000</h3>
          <p style="font-size: 12px;">23 Apr 8:00AM</p>
        </ion-label>
      </ion-item>



    </ion-grid>
  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

</ion-content>
